In [6]:
import Appscrip

In [7]:
from joblib import load
model = load('model.joblib')

In [13]:
import os
os.chdir('C:/Users/Admin/Downloads/Appscrip-Assignment-2-master/Appscrip-Assignment-2-master/')

In [23]:
import pandas as pd
df = pd.read_csv('Book1.csv')

In [25]:
Y = df.values

In [26]:
y = Y.ravel()

In [27]:
model.predict(y)

array(['entertainment', 'entertainment', 'business', 'business',
       'general', 'technology', 'business', 'business', 'general'],
      dtype=object)

In [28]:
df

                                   title-description
0  Imran Khan set to visit China in October Durin...
1  Popularity of Karungalpalayamâ€™s idlis travel...
2  Should restaurants build up chefs as the face ...
3  Sandeep Gulati is new MD of ManpowerGroup in I...
4  New U.K. Deputy High Commissioner in Chennai t...
5  UTC, T-Hub unveil start-up challenge To develo...
6  BJPâ€™s Lodha declares assets worth â‚¹441 cr....
7  Tata Motors to drive in Nexon EV in March quar...
8  Aaditya Thackerayâ€™s BMW is worth â‚¹6.5 lakh...